<div class="form-container">
    <h1>Sign Up a New User</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="diplayName" />
            <mat-error *ngIf="name?.errors?.['required']">
                Name is required
              </mat-error>
        </mat-form-field>        
        <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email" />
            <mat-error *ngIf="email?.errors?.['required']">
                Email address is required
              </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password"/>
            <mat-error *ngIf="password?.errors?.['required']">
                Password is required min 8 char
              </mat-error>
        </mat-form-field>
        <div>
        <button mat-raised-button color="primary" type="submit">
            Sign Up
        </button>
        </div>
        
    </form>
    </div>
